body {
    background-color:rgb(176, 255, 133);
    color:rgb(0, 0, 0);
}
html, body {
  overflow: hidden;
}

.views {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#fullscreenCanvas {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  z-index: 2;
}

#backgroundCanvas {
  position: absolute;
  border: none;
  z-index: 3;
}

#cardgameCanvas {
  position: absolute;
  border: none;
  z-index: 4;
}

#error{
  background-color:rgb(241, 163, 163);
  color:rgb(0, 0, 0);
}

@-o-viewport {
  zoom: 1;
  max-zoom: 1;
  min-zoom: 1;
	user-zoom: fixed;
}